{{>layouts/header}}

<h1>{{username}}님의 채팅 목록</h1>
<ul>
    {{#chatRooms}}
        <li><a href="/chat/startByChatRoomId/{{id}}">{{#siteUser1}}{{siteUser1.username}}{{/siteUser1}}{{#siteUser2}}{{siteUser2.username}}{{/siteUser2}}님과의 채팅방</a></li>
    {{/chatRooms}}
</ul>
<a href="/board/list">판매글 목록으로</a>
{{>layouts/footer}}
