{{>layouts/header}}
<h2>Chat Room with {{opponent.username}}</h2>
<div id="chat" style="border:1px solid #ccc; padding:10px; width:300px; height:400px; overflow-y:scroll;">
    {{#messagesWithIsCurrentUser}}
        <p class="{{#isCurrentUser}}my-message{{/isCurrentUser}}{{^isCurrentUser}}opponent-message{{/isCurrentUser}}"><strong>{{message.sender.username}}</strong>: {{message.content}}{{#message.translation}}<br>(trans){{message.translation}}{{/message.translation}}</p>
    {{/messagesWithIsCurrentUser}}
</div>
<input type="text" id="messageInput" placeholder="Enter message" onkeydown="handleEnter(event)">
<button onclick="sendMessage()">전송</button>
<br>
<a href="/board/list">판매글 목록으로</a>

<style>
    .my-message {
        background-color: #e0f7fa;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: right;
    }

    .opponent-message {
        background-color: #ffcccb;
        padding: 5px;
        border-radius: 5px;
        margin-bottom: 10px;
        text-align: left;
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.0/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/sub/chat/{{chatRoom.id}}', function (message) {
                showMessage(JSON.parse(message.body));
            });
        });
    }

    function sendMessage() {
        const messageInput = document.getElementById('messageInput');
        var message = messageInput.value;
        if (message.trim()) {
            stompClient.send("/pub/chat/send/{{chatRoom.id}}", {}, JSON.stringify({ content: message, senderId: '{{user.id}}' }));
            messageInput.value = '';
        }
    }

    function showMessage(message) {
        var chat = document.getElementById("chat");
        var messageElement = document.createElement("p");
        chatMessage = "<strong>" + message.sender.username + ":</strong> " + message.content ;
        if(message.translation){
            chatMessage = chatMessage + "<br> (trans)" + message.translation;
        }
        messageElement.innerHTML = chatMessage;
        if(message.sender.id === {{user.id}}){
            messageElement.classList.add("my-message")
        }
        else{
            messageElement.classList.add("opponent-message")
        }
        chat.appendChild(messageElement);
        chat.scrollTop = chat.scrollHeight;
    }


    function handleEnter(event) {
        if (event.key === "Enter") {
            sendMessage();
        }
    }

    connect();
</script>
{{>layouts/footer}}