{{>layouts/header}}
<div class="container">
    <div class="mt-2">
        <h2>{{username}}님의 채팅 목록</h2>
    </div>
    <ul>
        {{#chatRooms}}
            <div class="list-group mt-2">
                <a href="/chat/startByChatRoomId/{{id}}" class="list-group-item list-group-item-action" aria-current="true">
                    {{#siteUser1}}{{siteUser1.username}}{{/siteUser1}}{{#siteUser2}}{{siteUser2.username}}{{/siteUser2}}님과의 채팅방
                </a>
            </div>
            <!--        <li><a href="/chat/startByChatRoomId/{{id}}">{{#siteUser1}}{{siteUser1.username}}{{/siteUser1}}{{#siteUser2}}{{siteUser2.username}}{{/siteUser2}}님과의 채팅방</a></li>-->
        {{/chatRooms}}
    </ul>
    <a href="/board/list"  class="btn btn-outline-success me-2">판매글 목록으로</a>
</div>
{{>layouts/footer}}
