{{>layouts/header}}
<style>
    <!--    table, td, th {-->
    <!--        border : 1px solid black;-->
    <!--        border-collapse : collapse;-->
    <!--    }-->
</style>
<div class="container">
    <div class="mt-2" style="display: flex; align-items: center;">
        <img src="/images/logo.png" alt="안녕마켓 로고" width="70" />
        &emsp;
        <h2>안뇽마켓</h2>
    </div>

    <hr>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Thumbnail</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
        {{#boardList}}
            <tr>
                <th scope="row">{{id}}</th>
                <td><img src="/img/{{image_url}}" alt="thumbnail" style="width: 50px; height: 50px; object-fit: cover;" /> </td>
                <td><a href="/board/detail/{{id}}">{{title}}</a></td>
                <td>{{author.username}}</td>
                <td>{{status}}</td>
            </tr>
        {{/boardList}}
        </tbody>
    </table>

    {{#isLoggedIn}}
        <form action="/board/new" method="get">
            <button type="submit" class="btn btn-primary mb-3">새 게시글 작성</button>
        </form>
    {{/isLoggedIn}}

</div>
