{{>layouts/header}}
<div class="mt-2">
    <div class="container mt-2" >
        {{#board}}
            <div class="mt-2">
                <h2>제목: {{title}}</h2>
                <!--        <h4>id:{{id}}</h4>-->
                <h4>작성자:{{author.username}}</h4>
            </div>
            <hr>
            <p><img src="/img/{{image_url}}" alt="이미지" width="280px" /></p>
            <h4>설명</h4>
            <div>{{content}}</div>

            {{#isLoggedIn}}
                {{#isNotBoardAuthor}}
                    <div class="mt-2">
                        <form action="/chat/startByOpponentId/{{author.id}}" method="get">
                            <button type="submit" class="btn btn-primary mb-3">작성자와 채팅 시작!</button>
                        </form>
                    </div>
                {{/isNotBoardAuthor}}
                {{^isNotBoardAuthor}}
                    <div class="mt-2">
                        <form action="/board/{{id}}/status" method="post">
                            <select name="status" onchange="this.form.submit()" class="form-select form-select-sm" aria-label="Small select example" style="border:1px solid #ccc; padding:10px; width:300px;">
                                <option value="Selling"{{#isSelling}}selected{{/isSelling}}>판매중(Selling)</option>
                                <option value="Reserved" {{#isReserved}}selected{{/isReserved}}>예약중(Reserved)</option>
                                <option value="SoldOut" {{#isSoldOut}}selected{{/isSoldOut}}>판매완료(Sold Out)</option>
                            </select>
                        </form>
                    </div>
                    <form action="/board/{{id}}/delete" method="get">
                        <button type="submit" class="btn btn-primary mb-3">판매글 삭제</button>
                    </form>
                {{/isNotBoardAuthor}}
            {{/isLoggedIn}}
            {{^isLoggedIn}}
                <div class="mt-2">
                    <form action="/login" method="get">
                        <button type="submit" class="btn btn-primary mb-3">채팅을 시작하려면 로그인 하세요!</button>
                    </form>
                </div>
            {{/isLoggedIn}}
        {{/board}}
        <hr>
        <form action="/board/list" method="get">
            <button type="submit" class="btn btn-primary mb-3">판매글 목록으로</button>
        </form>
    </div>
{{>layouts/footer}}