{{>layouts/header}}
<div class="container">
    <div class="mt-2">
        <h2>잘못된 페이지입니다.</h2>
    </div>
    <a href="/board/list"  class="btn btn-outline-success me-2">판매글 목록으로</a>
</div>

{{>layouts/footer}}