{{>layouts/header}}
<h2>회원가입</h2>
<form action="/user/create" method="post">
    username
    <input type="text" name="username">
    <br>
    password
    <input type="text" name="password">
    <br>
    language
    <select name="lang">
        <option value="KO">한국어</option>
        <option value="en-US">English</option>
        <option value="ZH">中文</option>
        <option value="JA">日本語</option>
        <option value="DE">Deutsch</option>
        <option value="FR">français</option>
    </select>
    <button type="submit">submit</button>
</form>
{{>layouts/footer}}
