{{>layouts/header}}
<h2>회원가입</h2>
<form action="/user/create" method="post">
    username
    <input type="text" name="username">
    <br>
    password
    <input type="text" name="password">
    <br>
    <button type="submit">submit</button>
</form>
{{>layouts/footer}}
